/* Header */
.site-nav {
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
  list-style-type: none;
}

.site-nav > li {
  display: block;
}

.site-nav > li > a {
  display: block;
  position: relative;

  line-height: 20px;

  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 6px;
  padding-left: 0;

  font-family: neue-haas-unica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;

  color: #000;

  text-decoration: none;
  letter-spacing: 0px;

  border-top: 3px solid #000;

  cursor: pointer;
}

.site-nav .caret {
  position: absolute;
  background-image: url("/img/caret-ie.png");
  background-size: cover;
  top: 8px;
  right: 1px;
  height: 7px;
  width: 10px;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  color: white;
  background-color: rgb(153, 153, 153);
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 16px;
}

.dropdown.is-open .dropdown-menu {
  display: flex;
}

.dropdown-menu > li {
  display: block;
  margin: 0 15.9px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 10px;
  cursor: pointer;

  font-family: neue-haas-unica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

/* Footer */
footer {
  color: white;
  background-color: black;
}

footer section {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
}

footer .footer-banner {
  justify-content: space-between;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

footer .contact-details {
  justify-content: space-between;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 1rem;
}

footer .footer-links {
  padding: 0;
  color: #D8D8D8;
  font-size: 12px;
  padding-top: 1rem;
}

footer .footer-links ul {
  padding-left: 0;
  list-style-type: none;
}

footer .footer-links li {
  display: inline-block;
  padding: 0 0.5rem 0 0;
}

footer .footer-links li + li {
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 0.5rem;
}

footer .footer-links a {
  display: inline-block;
  text-decoration: underline;
}

footer .kemper-logo {
  max-width: 303px;
}

footer .social-media-link {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 1rem;
}

footer .facebook-link {
  background-image: url(/img/fb.svg);
}

footer .twitter-link {
  background-image: url(/img/twitter.svg);
}

footer .instagram-link {
  background-image: url(/img/instagram.svg);
}

footer .footer-copyright {
  font-size: 12px;
  color: #D8D8D8;
  margin-top: -0.75rem;
}